In [1]:
import pandas as pd

c:\Users\riven\anaconda3\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
c:\Users\riven\anaconda3\lib\site-packages\numpy\.libs\libopenblas.EL2C6PLE4ZYW3ECEVIV3OXXGRN2NRFM2.gfortran-win_amd64.dll
c:\Users\riven\anaconda3\lib\site-packages\numpy\.libs\libopenblas.GK7GX5KEQ4F6UYO3P26ULGBQYHGQO7J4.gfortran-win_amd64.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

In [6]:
df = pd.read_json('Boardgames_100.json')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               100 non-null    int64
 1   title            100 non-null    object
 2   year             100 non-null    int64
 3   rank             100 non-null    int64
 4   minplayers       100 non-null    int64
 5   maxplayers       100 non-null    int64
 6   minplaytime      100 non-null    int64
 7   maxplaytime      100 non-null    int64
 8   minage           100 non-null    int64
 9   rating           100 non-null    object
 10  recommendations  100 non-null    object
 11  types            100 non-null    object
 12  credit           100 non-null    object
dtypes: int64(8), object(5)
memory usage: 10.3+ KB

In [16]:
df_types = pd.json_normalize(df['types'])

In [17]:
df_categories = df_types['mechanics'].explode().value_counts()

In [21]:
df_categories.to_frame().head(10)

                                                mechanics
{'id': 2040, 'name': 'Hand Management'}                52
{'id': 2819, 'name': 'Solo / Solitaire Game'}          49
{'id': 2015, 'name': 'Variable Player Powers'}         48
{'id': 2897, 'name': 'Variable Set-up'}                33
{'id': 2082, 'name': 'Worker Placement'}               28
{'id': 2072, 'name': 'Dice Rolling'}                   28
{'id': 2875, 'name': 'End Game Bonuses'}               27
{'id': 2041, 'name': 'Open Drafting'}                  26
{'id': 2004, 'name': 'Set Collection'}                 26
{'id': 2023, 'name': 'Cooperative Game'}               24

In [20]:
df_categories.head(10)

TypeError: unhashable type: 'dict'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'dict'

{'id': 2040, 'name': 'Hand Management'}           52
{'id': 2819, 'name': 'Solo / Solitaire Game'}     49
{'id': 2015, 'name': 'Variable Player Powers'}    48
{'id': 2897, 'name': 'Variable Set-up'}           33
{'id': 2082, 'name': 'Worker Placement'}          28
{'id': 2072, 'name': 'Dice Rolling'}              28
{'id': 2875, 'name': 'End Game Bonuses'}          27
{'id': 2041, 'name': 'Open Drafting'}             26
{'id': 2004, 'name': 'Set Collection'}            26
{'id': 2023, 'name': 'Cooperative Game'}          24
Name: mechanics, dtype: int64

In [4]:
df_rating = df['rating']

In [5]:
df_rating = pd.json_normalize(df_rating)

In [22]:
df_rating.describe()

           rating  num_of_reviews
count  100.000000      100.000000
mean     8.091685    29008.960000
std      0.262096    19311.011304
min      7.697210     5157.000000
25%      7.876778    15324.750000
50%      8.069755    23951.500000
75%      8.258312    37228.000000
max      8.675270    96520.000000

In [16]:
df_rating = pd.DataFrame(df_rating, columns = ['rating', 'num_of_reviews'])

In [17]:
df_rating

                                          rating  num_of_reviews
0   {'rating': 8.67527, 'num_of_reviews': 54330}             NaN
1   {'rating': 8.65313, 'num_of_reviews': 33285}             NaN
2   {'rating': 8.56688, 'num_of_reviews': 48768}             NaN
3   {'rating': 8.56684, 'num_of_reviews': 23194}             NaN
4    {'rating': 8.6449, 'num_of_reviews': 19295}             NaN
..                                           ...             ...
95  {'rating': 7.69721, 'num_of_reviews': 32490}             NaN
96  {'rating': 7.75361, 'num_of_reviews': 21005}             NaN
97  {'rating': 7.72926, 'num_of_reviews': 21781}             NaN
98  {'rating': 7.95809, 'num_of_reviews': 13863}             NaN
99  {'rating': 7.76522, 'num_of_reviews': 33857}             NaN

[100 rows x 2 columns]